.App {
    background-color:#333333;
}

.Navbar {
    background-color:black;
    color:white;
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:2.5rem;
}

.Navbar button {
    position:fixed;
    top:0.4rem;
    left:1rem;
    margin:0;
    border:none;
    background:none;
    color:white;
    font-size:1.5rem;
    outline:none;
}

.Navbar button:hover {
    cursor:pointer;
}


.Searchbar {
    background-color: white;
}

.Searchbar input {
    float:right;
    margin-right:4rem;
    margin-top:0.5rem;
    height:1.5rem;
    width: 12.5rem;
    box-sizing:border-box;
}

.Wedge {
    height:2.5rem;
    
}
.Featured {
    display:flex;
    justify-content: center;
    height:80vh;
    max-width:95vw;
    margin:auto;
    flex-wrap: wrap-reverse;
    align-content:flex-end;
}

.Featured .Main {
    flex: 420px 0 0;
    background-color:white;
}

.Featured .Main img {
    width:95%;
    border-radius:0.4rem;
}

.Featured .Main h3 {
    margin:0;

}
.Featured .Main p {
    margin:0;
    margin-left:1rem;
    margin-right:1rem;
}

.Featured .List {
    flex: 720px 0 1;
    flex-wrap:wrap;
    background-color:white;
}

.SearchResults {
        display:flex;
        justify-content: center;
        width:80rem;
        max-width:95vw;
        margin:auto;
        flex-wrap:wrap;
}
.MovieReview {
    border-radius: 1rem;
    width:100%;
    display:flex;
    margin:0.6rem;
    align-content:flex-start;
    background-color:white;
    padding-right:2rem;
}

.MovieReview img {
    display:inline-block;
    border-radius:0.9rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    
}

.MovieReview div {
   margin-left:2rem;
}

.MovieReview h1, p, a {
    align-self:flex-start;
    margin:0;
    text-align:left;
    width:100%;
    max-height:4.2rem;
    overflow:hidden;
}

.MovieReview h1 {
    font-size: 1.6rem;
}

.MovieReview a { 
    color:blue;
    float:left;
}

.Featured .List .MovieReview {
   margin-bottom:2rem;
   padding-right:2rem;
   box-sizing:border-box;
   height:8vw;
}

.Featured .List .MovieReview img{
     height:10vw;
    width:auto;
}

@media (max-width: 1200px) {
    .Featured .List .MovieReview p, a {
        max-height:2.5rem;
        font-size:0.9rem;
        margin:0;
    }
    .Featured .List .MovieReview h1 {
        font-size:1.2rem;
        line-height:1.2rem;
    }
    .Featured .List .MovieReview div {
        margin-left:1rem;
    }
}

@media (max-width: 800px) {
    .Featured .List {
    display:flex;
    justify-content: center;
    width:80rem;
    max-width:95vw;
    margin:auto;
    flex-wrap:wrap;
    }

    .Featured .List .MovieReview {
        border-radius: 1rem;
        width:100%;
        display:flex;
        margin:0.6rem;
        align-content:flex-start;
        background-color:white;
        padding-right:2rem;
    }
}