.Navbar {
    background-color:black;
    color:white;
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:2.5rem;
}

.Navbar h2 {
    position:fixed;
    top:0;
    left:1rem;
    margin:0;
}

.Searchbar {
    background-color: white;
}

.Searchbar input {
    float:right;
    margin-right:4rem;
    margin-top:0.5rem;
    height:1.5rem;
    width: 12.5rem;
    box-sizing:border-box;
}

.Wedge {
    height:2.5rem;
    
}
.Featured {
    display:flex;
    justify-content: center;
    height:80vh;
    max-width:95vw;
    margin:auto;
}

.Featured .Main {
    flex: 420px 0 0;
    border: 1px red solid;
}

.Featured .Main img {
    width:95%;
    border-radius:0.4rem;
}

.Featured .Main h3 {
    margin:0;

}
.Featured .Main p {
    margin:0;
    margin-left:1rem;
    margin-right:1rem;
}

.Featured .List {
    flex: 720px 0 1;
    display: flex;
    flex-wrap:wrap;
    border: 1px red solid;
}